<p id="notice"><%= notice %></p>

<h1>Sittings</h1>

<ul class="list-group">
<% @sittings.each do |sitting| %>
  <li class="list-group-item">
    <%= link_to sitting.name, sitting, class: "btn btn-link" %>
    <%= number_to_currency sitting.order_amount %>
  </li>
<% end %>
</ul>

<%= link_to 'New Sitting', new_sitting_path, class: "btn btn-success btn-block white" %>
